body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background : rgb(243, 243, 243);
}

.formulario{
    background : rgb(255, 247, 247);
    width: 400px;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.formulario h1{
    text-align: center;
}

.formulario form{
    padding: 20px;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18%;
}
input{
    display: block;
}